{# templates/layout.html #}


{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel app - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header>
      <h1>Page header</h1>
    </header>

    {% block content %}{% endblock content %}

    <footer>
      <h1>Page footer</h1>
    </footer>
  </body>
</html>